In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

from pprint import pprint

In [2]:
# import csv file that is a breakdown of cases and deaths per day by state and county
df = pd.read_csv("us-counties.csv.txt")

#group by state and date so that data is no longer at the county level, but at the state level
state_df = df.groupby(["state","date"])

#Create a data frame that has total cases by date by state
cases = state_df["cases"].sum()
workable_df = pd.DataFrame(cases)
workable_df = workable_df.reset_index()

#get the data for deaths per state per day into a series format to add to the cases dataframe
deaths = state_df["deaths"].sum()
death=pd.DataFrame(deaths)
work_death=death.reset_index()
DEAD = work_death["deaths"]

# Add Deaths column to the cases dataframe
workable_df["Deaths"]=DEAD

#Create final dataframe with just the columns we are interested in
final_df = workable_df[["date","state","cases","Deaths"]]

#Sort final df by date and re-index
final_df = final_df.sort_values("date")
final_df = final_df.reset_index(drop = True)
final_df

            date       state   cases  Deaths
0     2020-01-21  Washington       1       0
1     2020-01-22  Washington       1       0
2     2020-01-23  Washington       1       0
3     2020-01-24    Illinois       1       0
4     2020-01-24  Washington       1       0
...          ...         ...     ...     ...
2209  2020-04-11  New Mexico    1174      20
2210  2020-04-11    New York  180458    8627
2211  2020-04-11     Georgia   12261     432
2212  2020-04-11    Nebraska     729      18
2213  2020-04-11     Wyoming     261       0

[2214 rows x 4 columns]

Sequoyah Code

In [5]:
#Sequoyah's code below 
Increase_in_Unemployment_df = pd.read_csv("States with the Biggest Increases in Unemployment Due to Coronavirus.csv") 
Increase_in_Unemployment_df

,Overall Rank,State,Increase in Unemployment Claims (2020 vs. 2019)*,Increase in Unemployment Claims (April vs. January 2020)**
0,24,Alabama,3552.96%,2109.81%
1,46,Alaska,1625.03%,1466.77%
2,12,Arizona,2528.53%,4120.59%
3,30,Arkansas,2610.76%,2267.70%
4,29,California,2454.59%,2420.29%
5,37,Colorado,2290.65%,1771.41%
6,51,Connecticut,1294.74%,325.60%
7,22,Delaware,3913.40%,2055.77%
8,16,District of Columbia,3406.38%,3100.21%
9,18,Florida,2553.62%,3578.76%
10,4,Georgia,8262.24%,2175.35%
11,13,Hawaii,4030.89%,2808.60%
12,39,Idaho,3173.94%,915.29%
13,42,Illinois,2163.86%,1605.92%
14,10,Indiana,4298.91%,2913.96%
15,31,Iowa,3682.81%,1368.25%
16,21,Kansas,3566.62%,2364.39%
17,20,Kentucky,4122.60%,2163.48%
18,1,Louisiana,6118.90%,6111.40%
19,23,Maine,4044.93%,1741.91%
20,14,Maryland,4227.48%,2597.34%
21,35,Massachusetts,3149.12%,1374.87%
22,6,Michigan,5659.41%,2813.94%
23,34,Minnesota,3443.34%,1423.64%
24,5,Mississippi,4800.32%,3847.71%
25,41,Missouri,3022.36%,1002.48%
26,43,Montana,2607.85%,1186.88%
27,15,Nebraska,4448.05%,2337.49%
28,8,Nevada,3877.34%,3427.61%
29,2,New Hampshire,7186.52%,5148.41%
30,40,New Jersey,2675.36%,1295.74%
31,19,New Mexico,2944.16%,3229.91%
32,45,New York,2639.40%,669.85%
33,7,North Carolina,4282.70%,3821.69%
34,9,North Dakota,5816.54%,1825.00%
35,25,Ohio,3629.53%,1983.67%
36,38,Oklahoma,2425.89%,1637.14%
37,50,Oregon,1167.82%,743.70%
38,44,Pennsylvania,2449.82%,939.34%
39,27,Rhode Island,4123.47%,1332.81%
40,33,South Carolina,3931.20%,1037.97%
41,11,South Dakota,5435.66%,1888.94%
42,17,Tennessee,2589.69%,3665.92%
43,32,Texas,2296.94%,2437.66%
44,28,Utah,3123.78%,2078.92%
45,26,Vermont,3016.76%,2278.82%
46,3,Virginia,6747.65%,4597.55%
47,36,Washington,2707.22%,1664.04%
48,47,West Virginia,1986.28%,804.41%
49,48,Wisconsin,1847.15%,715.12%
50,49,Wyoming,1324.42%,640.18%

In [6]:
#End of Sequoyah's code. website used: https://wallethub.com/edu/most-aggressive-states-against-coronavirus/72307/
States_Most_Aggressive_Measures_df = pd.read_csv("States with the Most Aggressive Measures in Limiting Virus Exposure.csv", encoding ='latin-1')
States_Most_Aggressive_Measures_df

,Overall Rank,State,Prevention & Containment Rank,Risk Factors & Infrastructure Rank,Economic Impact Rank,Delta in Overall Rank vs. March 23
0,48,Alabama,48,45,2,-15
1,3,Alaska,2,11,40,11
2,39,Arizona,36,46,19,-1
3,46,Arkansas,45,49,5,1
4,18,California,15,44,16,-17
5,31,Colorado,35,3,45,-22
6,14,Connecticut,13,14,26,-8
7,15,Delaware,14,29,28,-3
8,2,District of Columbia,5,2,18,20
9,44,Florida,46,24,32,-8
10,29,Georgia,30,40,4,12
11,4,Hawaii,1,28,49,7
12,24,Idaho,24,35,23,24
13,23,Illinois,25,16,48,-5
14,21,Indiana,21,26,38,9
15,36,Iowa,40,21,1,-10
16,30,Kansas,33,27,7,5
17,34,Kentucky,32,33,43,-17
18,16,Louisiana,11,38,44,-6
19,17,Maine,16,39,15,-9
20,13,Maryland,18,8,3,-10
21,8,Massachusetts,10,4,6,17
22,40,Michigan,44,18,9,-17
23,11,Minnesota,19,1,10,9
24,45,Mississippi,39,51,33,6
25,32,Missouri,31,41,21,10
26,22,Montana,17,48,50,23
27,49,Nebraska,49,20,8,-5
28,41,Nevada,38,15,51,9
29,9,New Hampshire,8,12,34,-5
30,5,New Jersey,4,17,17,0
31,33,New Mexico,29,50,36,1
32,1,New York,3,13,14,6
33,37,North Carolina,34,36,27,3
34,38,North Dakota,43,6,24,-25
35,20,Ohio,23,22,20,4
36,51,Oklahoma,51,43,35,-5
37,25,Oregon,22,42,41,12
38,19,Pennsylvania,20,23,13,10
39,6,Rhode Island,6,5,47,-4
40,28,South Carolina,28,30,30,0
41,50,South Dakota,50,37,39,-7
42,27,Tennessee,27,32,25,22
43,42,Texas,42,25,29,-3
44,43,Utah,47,19,12,-24
45,12,Vermont,12,9,37,3
46,35,Virginia,37,10,22,-8
47,7,Washington,9,7,11,14
48,10,West Virginia,7,34,31,21
49,26,Wisconsin,26,31,42,-10
50,47,Wyoming,41,47,46,-15

Shweta Code

Liz's Code