In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time 
import csv
import os
import scipy.stats as st
from pprint import pprint
from pandas import json_normalize
import seaborn as sns; sns.set()
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [2]:
#Jimmy Import data over time csv 

# import csv file that is a breakdown of cases and deaths per day by state and county
df = pd.read_csv("CSV Folder/us-counties.csv.txt")

#group by state and date so that data is no longer at the county level, but at the state level
state_df = df.groupby(["state","date"])

#Create a data frame that has total cases by date by state
cases = state_df["cases"].sum()
workable_df = pd.DataFrame(cases)
workable_df = workable_df.reset_index()

#get the data for deaths per state per day into a series format to add to the cases dataframe
deaths = state_df["deaths"].sum()
death=pd.DataFrame(deaths)
work_death=death.reset_index()
DEAD = work_death["deaths"]

# Add Deaths column to the cases dataframe
workable_df["Deaths"]=DEAD

#Create final dataframe with just the columns we are interested in
final_df = workable_df[["date","state","cases","Deaths"]]

#Sort final df by date and re-index
final_df = final_df.sort_values("date")
final_df = final_df.reset_index(drop = True)

#Create Data Frame to display increase in cases over time of top 10 States in total current cases
cases=final_df.pivot( index="date",columns="state",values = "cases")
cases = cases.fillna(0)
top_cases =cases[["New York", "New Jersey","Massachusetts","California","Illinois","Pennsylvania","Michigan","Florida","Connecticut","Louisiana"]]

#Create Data Frame to display increase in deaths over time of top 10 States in total current deaths
death_df = final_df[final_df["Deaths"]>0]
death_plot = death_df.pivot( index="date",columns="state",values = "Deaths")
top_deaths = death_plot[["New York", "New Jersey","Massachusetts","California","Illinois","Pennsylvania","Michigan","Florida","Connecticut","Louisiana"]]

In [3]:
#Liz's Hospital Dataframe
#read in .csv file
hospital_data = pd.read_csv("CSV Folder/hospitals.csv")

#set index to state_name
hospital_data.set_index("state_name",inplace=True)

#group dataframe by state_name
hg = hospital_data.groupby('state_name')

#do count of hg dataframe (where it groups by states)to get total count of hospitals, doctors, staff,
#icu beds, and icu beds utilized. Then add each series to new dataframe called 'state_hospital_data'

hg["num_icu_be"].count()
state_hospital_data = pd.DataFrame(hg["num_icu_be"].count())

hospitals = hg["hospital_n"].count()
state_hospital_data["Number of Hospitals"]=hospitals

doctors = hg["num_licens"].count()
state_hospital_data["Number of Doctors"]=doctors

staff = hg["num_staffe"].count()
state_hospital_data["Number of Staff"]=staff

icu_beds = hg["num_icu_be"].count()
state_hospital_data["ICU Beds Available"]=icu_beds

bed_utiliz = hg["bed_utiliz"].count()
state_hospital_data["ICU Beds Utilized"]=bed_utiliz

#drop double num_icu_be column
state_hospital_data.drop("num_icu_be",axis=1, inplace = True)

# Shweta State level data import
#reaching out to API to get current overall state data pertaining to cases, tests, hospitalizations, and deaths
url3 = "https://covidtracking.com/api/states"
response3 = requests.get(url3)
#Turned entire response into a dataframe
US_df = json_normalize(response3.json(), errors='ignore')
#Narrowed df to specific columns of interest 
US_df = US_df.iloc[:,[0,1,10,11,24,18,12,21]]

#Jimmy file for merging dataframes that have different state columns
#Read in a State Name Abbrev CSV so that df's could be joined with different state naming conventions
st_abrev = pd.read_csv("CSV Folder/Covid Analysis Data - StateNameAbrev.csv")

# Replacing the state abbreviation with names for joining to other data
tests_df = st_abrev.merge(US_df, how = 'inner',left_on = "Abbreviation",right_on = "state")

#Droping abbreviation column since no other dataset used abbrev.
tests_df.drop(columns = ["Abbreviation","state"],inplace = True)

#Joined hospital information with the general information
comb1_df= tests_df.merge(state_hospital_data,how = 'inner',left_on = "State",right_on = "state_name")
#comb1_df.drop(columns = "state_name", inplace = True)

#Sequoyah import of file on aggressive measures
#Read in file about rankings of aggressive measures limiting the virus spread
States_Most_Aggressive_Measures_df = pd.read_csv("CSV Folder/States with the Most Aggressive Measures in Limiting Virus Exposure.csv", encoding ='latin-1')

#Joined rankings data
comb2_df = comb1_df.merge(States_Most_Aggressive_Measures_df, how = 'inner', on = 'State' )

#Renamed Column Headers
comb2_df.rename(columns = {"positive":"Positive",
                           "negative":"Negative",
                           "pending":"Pending",
                           "totalTestResults": "Total Tested",
                           "recovered": "Recovered",
                           "hospitalizedCurrently":"Currently Hospitalized",
                           "death": "Total Deaths",
                           "num_icu_be":"ICU Beds",
                           "Prevention & Containment Rank": "Prevention & Containment Rank",
                           "Risk Factors & Infrastructure Rank": "Risk Factors & Infrastructure Rank",
                           "Economic Impact Rank": "Economic Impact Rank"}, inplace = True)
comb2_df

,State,Positive,Negative,Pending,Total Tested,Recovered,Currently Hospitalized,Total Deaths,Number of Hospitals,Number of Doctors,Number of Staff,ICU Beds Available,ICU Beds Utilized,Overall Rank,Prevention & Containment Rank,Risk Factors & Infrastructure Rank,Economic Impact Rank,Delta in Overall Rank vs. March 23
0,Alabama,5832,46863,NaN,52695,NaN,NaN,197.0,120,120,120,66,109,48,48,45,2,-15
1,Alaska,339,11942,NaN,12281,208.0,36.0,9.0,28,28,28,7,23,3,2,11,40,11
2,Arizona,6045,54669,NaN,60714,1313.0,639.0,266.0,126,126,126,46,108,39,36,46,19,-1
3,Arkansas,2741,32837,NaN,35578,929.0,101.0,45.0,106,106,106,40,100,46,45,49,5,1
4,California,39254,454919,NaN,494173,NaN,4880.0,1562.0,466,466,466,302,401,18,15,44,16,-17
5,Colorado,11262,41062,NaN,52324,NaN,1084.0,552.0,113,113,113,48,101,31,35,3,45,-22
6,Connecticut,23921,50117,NaN,74038,NaN,1877.0,1764.0,46,46,46,25,40,14,13,14,26,-8
7,Delaware,3442,13937,NaN,17379,703.0,277.0,100.0,16,16,16,5,15,15,14,29,28,-3
8,Florida,30174,286785,1287.0,316959,NaN,NaN,1031.0,276,276,276,172,250,44,46,24,32,-8
9,Georgia,22147,85029,NaN,107176,NaN,NaN,892.0,180,180,180,87,164,29,30,40,4,12
10,Hawaii,596,26291,NaN,26887,455.0,NaN,12.0,29,29,29,14,23,4,1,28,49,7
11,Idaho,1836,17255,NaN,19091,822.0,NaN,54.0,53,53,53,15,47,24,24,35,23,24
12,Illinois,39658,149974,NaN,189632,NaN,4828.0,1795.0,215,215,215,118,199,23,25,16,48,-5
13,Indiana,13680,61873,NaN,75553,NaN,NaN,741.0,177,177,177,81,161,21,21,26,38,9
14,Iowa,4445,27528,NaN,31973,1604.0,278.0,107.0,124,124,124,35,121,36,40,21,1,-10
15,Kansas,2777,20811,NaN,23588,NaN,NaN,111.0,164,164,164,41,147,30,33,27,7,5
16,Kentucky,3481,39363,NaN,42844,1335.0,302.0,191.0,119,119,119,65,112,34,32,33,43,-17
17,Louisiana,26140,117576,NaN,143716,14927.0,1697.0,1601.0,221,221,221,66,202,16,11,38,44,-6
18,Maine,965,16784,NaN,17749,499.0,39.0,47.0,39,39,39,19,38,17,16,39,15,-9
19,Maryland,16616,68100,NaN,84716,1108.0,1425.0,798.0,66,66,66,43,58,13,18,8,3,-10
20,Massachusetts,46023,149053,NaN,195076,NaN,3890.0,2360.0,110,110,110,51,96,8,10,4,6,17
21,Michigan,36641,99655,NaN,136296,3237.0,3022.0,3085.0,171,171,171,88,161,40,44,18,9,-17
22,Minnesota,3185,50602,NaN,53787,1594.0,278.0,221.0,148,148,148,47,139,11,19,1,10,9
23,Mississippi,5434,50236,NaN,55670,NaN,586.0,209.0,114,114,114,38,106,45,39,51,33,6
24,Missouri,6625,58582,NaN,65207,NaN,877.0,262.0,151,151,151,66,134,32,31,41,21,10
25,Montana,444,11683,NaN,12127,325.0,12.0,14.0,67,67,67,16,65,22,17,48,50,23
26,Nebraska,2124,16488,NaN,18612,NaN,NaN,47.0,101,101,101,19,98,49,49,20,8,-5
27,Nevada,4398,31794,NaN,36192,NaN,NaN,197.0,67,67,67,23,55,41,38,15,51,9
28,New Hampshire,1670,15139,424.0,16809,551.0,92.0,51.0,34,34,34,17,30,9,8,12,34,-5
29,New Jersey,102196,103766,NaN,205962,NaN,6847.0,5617.0,101,101,101,62,95,5,4,17,17,0
30,New Mexico,2379,44184,NaN,46563,573.0,123.0,78.0,57,57,57,26,54,33,29,50,36,1
31,New York,271590,459066,NaN,730656,23887.0,14258.0,16162.0,230,230,230,127,197,1,3,13,14,6
32,North Carolina,8052,92532,NaN,100584,NaN,477.0,269.0,145,145,145,82,128,37,34,36,27,3
33,North Dakota,748,16701,NaN,17449,285.0,17.0,15.0,54,54,54,8,49,38,43,6,24,-25
34,Ohio,14581,92528,NaN,107109,NaN,NaN,690.0,251,251,251,122,225,20,23,22,20,4
35,Oklahoma,3121,43019,NaN,46140,1961.0,310.0,188.0,157,157,157,45,142,51,51,43,35,-5
36,Oregon,2177,43315,NaN,45492,NaN,258.0,86.0,69,69,69,38,62,25,22,42,41,12
37,Pennsylvania,38652,147491,NaN,186143,NaN,2746.0,1492.0,246,246,246,125,219,19,20,23,13,10
38,Rhode Island,6699,40558,NaN,47257,377.0,267.0,202.0,15,15,15,8,13,6,6,5,47,-4
39,South Carolina,4917,39546,NaN,44463,3317.0,NaN,150.0,93,93,93,52,79,28,28,30,30,0
40,South Dakota,2040,12784,NaN,14824,1190.0,61.0,10.0,66,66,66,13,60,50,50,37,39,-7
41,Tennessee,8726,122602,NaN,131328,4370.0,NaN,168.0,149,149,149,68,138,27,27,32,25,22
42,Texas,22806,219741,NaN,242547,9156.0,1674.0,593.0,644,644,644,222,554,42,42,25,29,-3
43,Utah,3782,80915,NaN,84697,1252.0,NaN,39.0,62,62,62,27,56,43,47,19,12,-24
44,Vermont,827,13483,NaN,14310,1710.0,32.0,44.0,17,17,17,7,16,12,12,9,37,3
45,Virginia,11169,57846,487.0,69015,1672.0,1399.0,410.0,124,124,124,68,109,35,37,10,22,-8
46,Washington,12753,140623,NaN,153376,NaN,551.0,711.0,116,116,116,50,101,7,9,7,11,14
47,West Virginia,988,28823,NaN,29811,439.0,97.0,32.0,67,67,67,28,58,10,7,34,31,21
48,Wisconsin,5356,54573,206.0,59929,NaN,361.0,262.0,150,150,150,72,144,26,26,31,42,-10
49,Wyoming,349,7696,NaN,8045,321.0,16.0,7.0,33,33,33,11,29,47,41,47,46,-15

In [4]:
#Jimmy- Read in the Poverty Data File and Population Data File
df = pd.read_csv("CSV Folder/Poverty by state 2018.csv")
pop_df = pd.read_csv("CSV Folder/SCPRC-EST2019-18+POP-RES.csv")

#Select and rename columns of interest for merging
df.rename( columns={'Unnamed: 0':'State'}, inplace=True )
pop_df= pop_df[["NAME", "POPESTIMATE2019","POPEST18PLUS2019","PCNT_POPEST18PLUS"]]
pop_df = pop_df.rename(columns = {"NAME": "State","POPESTIMATE2019":"2019 Pop Est","POPEST18PLUS2019":"2019 18+","PCNT_POPEST18PLUS":"Percent 18+"})

#Merge the poverty and population df's and then merge with the state tests_df
poverty_df = pop_df.merge(df,how = 'inner',on = "State")
pov_death = tests_df.merge(poverty_df,how = 'inner', on = "State")

#Sort df, add categorical bins and append them to the dataframe
pov_death.sort_values("Percent in Poverty (All)", ascending = False).head()
bins = (0,10,11,12,13,14,15,16,17,20)
labels = ("< 10","10-10.99","11-11.99","12-12.99","13-13.99","14-14.99","15-15.99","16-16.99","> 17")
pov_death["Poverty Groups"] = pd.cut(x = pov_death["Percent in Poverty (All)"], bins = bins, labels = labels)
pov_death.rename(columns = {"death":"Deaths","positive":"Cases","negative":"Negative Tests","totalTestResults":"Total Tests"},inplace=True)

#Jimmy create and read in CSV of stay at home grades and append to df
grades = pd.read_csv("CSV Folder/StayatHomeGrades.txt")
grades.head()
pov_death = pov_death.merge(grades, how = 'inner', on = "State" )