In [14]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time 
import csv
import os
from pprint import pprint

In [ ]:
# import csv file that is a breakdown of cases and deaths per day by state and county
df = pd.read_csv("CSV Folder/us-counties.csv.txt")

#group by state and date so that data is no longer at the county level, but at the state level
state_df = df.groupby(["state","date"])

#Create a data frame that has total cases by date by state
cases = state_df["cases"].sum()
workable_df = pd.DataFrame(cases)
workable_df = workable_df.reset_index()

#get the data for deaths per state per day into a series format to add to the cases dataframe
deaths = state_df["deaths"].sum()
death=pd.DataFrame(deaths)
work_death=death.reset_index()
DEAD = work_death["deaths"]

# Add Deaths column to the cases dataframe
workable_df["Deaths"]=DEAD

#Create final dataframe with just the columns we are interested in
final_df = workable_df[["date","state","cases","Deaths"]]

#Sort final df by date and re-index
final_df = final_df.sort_values("date")
final_df = final_df.reset_index(drop = True)

            date       state   cases  Deaths
0     2020-01-21  Washington       1       0
1     2020-01-22  Washington       1       0
2     2020-01-23  Washington       1       0
3     2020-01-24    Illinois       1       0
4     2020-01-24  Washington       1       0
...          ...         ...     ...     ...
2209  2020-04-11  New Mexico    1174      20
2210  2020-04-11    New York  180458    8627
2211  2020-04-11     Georgia   12261     432
2212  2020-04-11    Nebraska     729      18
2213  2020-04-11     Wyoming     261       0

[2214 rows x 4 columns]

In [ ]:
#Liz's Hospital Dataframe



#read in .csv file
hospital_data = pd.read_csv("CSV Folder/hospitals.csv")

#set index to state_name
hospital_data.set_index("state_name",inplace=True)

#group dataframe by state_name
hg = hospital_data.groupby('state_name')

#do count of hg dataframe (where it groups by states)to get total count of hospitals, doctors, staff,
#icu beds, and icu beds utilized. Then add each series to new dataframe called 'state_hospital_data'

hg["num_icu_be"].count()
state_hospital_data = pd.DataFrame(hg["num_icu_be"].count())

hospitals = hg["hospital_n"].count()
state_hospital_data["Number of Hospitals"]=hospitals

doctors = hg["num_licens"].count()
state_hospital_data["Number of Doctors"]=doctors

staff = hg["num_staffe"].count()
state_hospital_data["Number of Staff"]=staff

icu_beds = hg["num_icu_be"].count()
state_hospital_data["ICU Beds Available"]=icu_beds

bed_utiliz = hg["bed_utiliz"].count()
state_hospital_data["ICU Beds Utilized"]=bed_utiliz

#drop double num_icu_be column
state_hospital_data.drop("num_icu_be",axis=1)

,Number of Hospitals,Number of Doctors,Number of Staff,ICU Beds Available,ICU Beds Utilized
state_name,,,,,
Alabama,120,120,120,66,109
Alaska,28,28,28,7,23
Arizona,126,126,126,46,108
Arkansas,106,106,106,40,100
California,466,466,466,302,401
Colorado,113,113,113,48,101
Connecticut,46,46,46,25,40
Delaware,16,16,16,5,15
District of Columbia,14,14,14,6,12
Florida,276,276,276,172,250
Georgia,180,180,180,87,164
Hawaii,29,29,29,14,23
Idaho,53,53,53,15,47
Illinois,215,215,215,118,199
Indiana,177,177,177,81,161
Iowa,124,124,124,35,121
Kansas,164,164,164,41,147
Kentucky,119,119,119,65,112
Louisiana,221,221,221,66,202
Maine,39,39,39,19,38
Maryland,66,66,66,43,58
Massachusetts,110,110,110,51,96
Michigan,171,171,171,88,161
Minnesota,148,148,148,47,139
Mississippi,114,114,114,38,106
Missouri,151,151,151,66,134
Montana,67,67,67,16,65
Nebraska,101,101,101,19,98
Nevada,67,67,67,23,55
New Hampshire,34,34,34,17,30
New Jersey,101,101,101,62,95
New Mexico,57,57,57,26,54
New York,230,230,230,127,197
North Carolina,145,145,145,82,128
North Dakota,54,54,54,8,49
Ohio,251,251,251,122,225
Oklahoma,157,157,157,45,142
Oregon,69,69,69,38,62
Pennsylvania,246,246,246,125,219
Puerto Rico,50,50,50,36,44
Rhode Island,15,15,15,8,13
South Carolina,93,93,93,52,79
South Dakota,66,66,66,13,60
Tennessee,149,149,149,68,138
Texas,644,644,644,222,554
Utah,62,62,62,27,56
Vermont,17,17,17,7,16
Virginia,124,124,124,68,109
Washington,116,116,116,50,101
West Virginia,67,67,67,28,58
Wisconsin,150,150,150,72,144
Wyoming,33,33,33,11,29

In [ ]:
#Sequoyah's Code 

Increase_in_Unemployment_df = pd.read_csv("CSV Folder/States with the Biggest Increases in Unemployment Due to Coronavirus.csv")

States_Most_Aggressive_Measures_df = pd.read_csv("CSV Folder/States with the Most Aggressive Measures in Limiting Virus Exposure.csv", encoding ='latin-1')

In [ ]:
# reaching out to API to get results of positive, negative, and total tests in the US
url3 = "https://covidtracking.com/api/states"
response3 = requests.get(url3)
US_df = json_normalize(response3.json(), errors='ignore')
US_df = US_df.iloc[:,[0,1,8,22]]