In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time 
import csv
import os
from pprint import pprint
from pandas.io.json import json_normalize

In [2]:
# import csv file that is a breakdown of cases and deaths per day by state and county
df = pd.read_csv("CSV Folder/us-counties.csv.txt")

#group by state and date so that data is no longer at the county level, but at the state level
state_df = df.groupby(["state","date"])

#Create a data frame that has total cases by date by state
cases = state_df["cases"].sum()
workable_df = pd.DataFrame(cases)
workable_df = workable_df.reset_index()

#get the data for deaths per state per day into a series format to add to the cases dataframe
deaths = state_df["deaths"].sum()
death=pd.DataFrame(deaths)
work_death=death.reset_index()
DEAD = work_death["deaths"]

# Add Deaths column to the cases dataframe
workable_df["Deaths"]=DEAD

#Create final dataframe with just the columns we are interested in
final_df = workable_df[["date","state","cases","Deaths"]]

#Sort final df by date and re-index
final_df = final_df.sort_values("date")
final_df = final_df.reset_index(drop = True)

In [3]:
#Liz's Hospital Dataframe



#read in .csv file
hospital_data = pd.read_csv("CSV Folder/hospitals.csv")

#set index to state_name
hospital_data.set_index("state_name",inplace=True)

#group dataframe by state_name
hg = hospital_data.groupby('state_name')

#do count of hg dataframe (where it groups by states)to get total count of hospitals, doctors, staff,
#icu beds, and icu beds utilized. Then add each series to new dataframe called 'state_hospital_data'

hg["num_icu_be"].count()
state_hospital_data = pd.DataFrame(hg["num_icu_be"].count())

hospitals = hg["hospital_n"].count()
state_hospital_data["Number of Hospitals"]=hospitals

doctors = hg["num_licens"].count()
state_hospital_data["Number of Doctors"]=doctors

staff = hg["num_staffe"].count()
state_hospital_data["Number of Staff"]=staff

icu_beds = hg["num_icu_be"].count()
state_hospital_data["ICU Beds Available"]=icu_beds

bed_utiliz = hg["bed_utiliz"].count()
state_hospital_data["ICU Beds Utilized"]=bed_utiliz

#drop double num_icu_be column
state_hospital_data.drop("num_icu_be",axis=1, inplace = True)

In [4]:
# reaching out to API to get current overall state data pertaining to cases, tests, hospitalizations, and deaths
url3 = "https://covidtracking.com/api/states"
response3 = requests.get(url3)
#Turned entire response into a dataframe
US_df = json_normalize(response3.json(), errors='ignore')
#Narrowed df to specific columns of interest 
US_df = US_df.iloc[:,[0,1,8,9,22,16,10,19]]

#Read in a State Name Abbrev CSV so that df's could be joined with different state naming conventions
st_abrev = pd.read_csv("CSV Folder/Covid Analysis Data - StateNameAbrev.csv")

# Replacing the state abbreviation with names for joining to other data
tests_df = st_abrev.merge(US_df, how = 'inner',left_on = "Abbreviation",right_on = "state")

#Droping abbreviation column since no other dataset used abbrev.
tests_df.drop(columns = ["Abbreviation","state"],inplace = True)

#Joined hospital information with the general information
comb1_df= tests_df.merge(state_hospital_data,how = 'inner',left_on = "State",right_on = "state_name")
#comb1_df.drop(columns = "state_name", inplace = True)

#Read in file about rankings of aggressive measures limiting the virus spread
States_Most_Aggressive_Measures_df = pd.read_csv("CSV Folder/States with the Most Aggressive Measures in Limiting Virus Exposure.csv", encoding ='latin-1')

#Joined rankings data
comb2_df = comb1_df.merge(States_Most_Aggressive_Measures_df, how = 'inner', on = 'State' )

#Renamed Column Headers
comb2_df.rename(columns = {"positive":"Positive",
                           "negative":"Negative",
                           "pending":"Pending",
                           "totalTestResults": "Total Tested",
                           "recovered": "Recovered",
                           "hospitalizedCurrently":"Currently Hospitalized",
                           "death": "Total Deaths",
                           "num_icu_be":"ICU Beds",
                           "Prevention & Containment Rank": "Prevention & Containment Rank",
                           "Risk Factors & Infrastructure Rank": "Risk Factors & Infrastructure Rank",
                           "Economic Impact Rank": "Economic Impact Rank"}, inplace = True)

C:\Users\walsh\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """

In [5]:
comb2_df.head()

,State,Positive,Negative,Pending,Total Tested,Recovered,Currently Hospitalized,Total Deaths,Number of Hospitals,Number of Doctors,Number of Staff,ICU Beds Available,ICU Beds Utilized,Overall Rank,Prevention & Containment Rank,Risk Factors & Infrastructure Rank,Economic Impact Rank,Delta in Overall Rank vs. March 23
0,Alabama,4903,40875,NaN,45778,NaN,NaN,160.0,120,120,120,66,109,48,48,45,2,-15
1,Alaska,319,9576,NaN,9895,153.0,37.0,9.0,28,28,28,7,23,3,2,11,40,11
2,Arizona,4929,48061,NaN,52990,994.0,631.0,184.0,126,126,126,46,108,39,36,46,19,-1
3,Arkansas,1781,23070,NaN,24851,721.0,93.0,39.0,106,106,106,40,100,46,45,49,5,1
4,California,30333,250567,NaN,280900,NaN,4936.0,1166.0,466,466,466,302,401,18,15,44,16,-17

In [18]:
#Sequoyah's Code 

Increase_in_Unemployment_df = pd.read_csv("CSV Folder/States with the Biggest Increases in Unemployment Due to Coronavirus.csv")


Increase_in_Unemployment_df

                                                                                                                                                      <<<<<<< HEAD
Overall Rank                                     State         Increase in Unemployment Claims (2020 vs. 2019)*  Increase in Unemployment Claims (April vs. Jan...
24                                               Alabama       3552.96%                                                                                   2109.81%
46                                               Alaska        1625.03%                                                                                   1466.77%
12                                               Arizona       2528.53%                                                                                   4120.59%
30                                               Arkansas      2610.76%                                                                                   2267.70%
...                                                                                                                                                            ...
36                                               Washington    2707.22%                                                                                   1664.04%
47                                               West Virginia 1986.28%                                                                                    804.41%
48                                               Wisconsin     1847.15%                                                                                    715.12%
49                                               Wyoming       1324.42%                                                                                    640.18%
>>>>>>> afc389f98273cfaa8cdfb2839db2bbe3d8bd0d94 NaN           NaN                                                                                             NaN

[106 rows x 1 columns]

In [11]:
df = pd.read_csv("CSV Folder/Poverty by state 2018.csv")
df.rename( columns={'Unnamed: 0':'State'}, inplace=True )
df.head()

,State,Percent in Poverty (All),90% CI Lower,90%CI Upper,Children ages 0-17 in Poverty,90% CI Lower.1,90%CI Upper.1
0,Alabama,16.8,16.5,17.1,23.9,23.2,24.6
1,Alaska,11.1,10.5,11.7,14.5,13.4,15.6
2,Arizona,14.1,13.8,14.4,20.4,19.7,21.1
3,Arkansas,16.8,16.3,17.3,23.8,22.8,24.8
4,California,12.8,12.7,12.9,17.4,17.1,17.7

In [13]:
pop_df = pd.read_csv("CSV Folder/SCPRC-EST2019-18+POP-RES.csv")
pop_df= pop_df[["NAME", "POPESTIMATE2019","POPEST18PLUS2019","PCNT_POPEST18PLUS"]]
pop_df = pop_df.rename(columns = {"NAME": "State","POPESTIMATE2019":"2019 Pop Est","POPEST18PLUS2019":"2019 18+","PCNT_POPEST18PLUS":"Percent 18+"})
pop_df.head()

           State  2019 Pop Est   2019 18+  Percent 18+
0  United States     328239523  255200373         77.7
1        Alabama       4903185    3814879         77.8
2         Alaska        731545     551562         75.4
3        Arizona       7278717    5638481         77.5
4       Arkansas       3017804    2317649         76.8

In [17]:
poverty_df = pop_df.merge(df,how = 'inner',on = "State")
poverty_df

,State,2019 Pop Est,2019 18+,Percent 18+,Percent in Poverty (All),90% CI Lower,90%CI Upper,Children ages 0-17 in Poverty,90% CI Lower.1,90%CI Upper.1
0,Alabama,4903185,3814879,77.8,16.8,16.5,17.1,23.9,23.2,24.6
1,Alaska,731545,551562,75.4,11.1,10.5,11.7,14.5,13.4,15.6
2,Arizona,7278717,5638481,77.5,14.1,13.8,14.4,20.4,19.7,21.1
3,Arkansas,3017804,2317649,76.8,16.8,16.3,17.3,23.8,22.8,24.8
4,California,39512223,30617582,77.5,12.8,12.7,12.9,17.4,17.1,17.7
5,Colorado,5758736,4499217,78.1,9.7,9.5,9.9,12.1,11.4,12.8
6,Connecticut,3565287,2837847,79.6,10.3,10.0,10.6,13.8,13.1,14.5
7,Delaware,973764,770192,79.1,12.2,11.6,12.8,17.6,16.4,18.8
8,District of Columbia,705749,577581,81.8,16.1,15.2,17.0,24.5,21.5,27.5
9,Florida,21477737,17247808,80.3,13.7,13.5,13.9,20.0,19.5,20.5
10,Georgia,10617423,8113542,76.4,14.5,14.2,14.8,21.0,20.4,21.6
11,Hawaii,1415872,1116004,78.8,9.0,8.5,9.5,11.8,10.7,12.9
12,Idaho,1787065,1338864,74.9,11.7,11.3,12.1,14.2,13.2,15.2
13,Illinois,12671821,9853946,77.8,12.1,11.9,12.3,16.2,15.7,16.7
14,Indiana,6732219,5164245,76.7,13.0,12.7,13.3,17.5,16.8,18.2
15,Iowa,3155070,2428229,77.0,11.2,10.9,11.5,13.5,12.8,14.2
16,Kansas,2913314,2213064,76.0,11.9,11.5,12.3,14.8,14.0,15.6
17,Kentucky,4467673,3464802,77.6,16.7,16.3,17.1,22.3,21.5,23.1
18,Louisiana,4648794,3561164,76.6,18.7,18.3,19.1,26.5,25.6,27.4
19,Maine,1344212,1095370,81.5,11.6,11.2,12.0,14.8,13.8,15.8
20,Maryland,6045680,4710993,77.9,9.1,8.8,9.4,12.1,11.4,12.8
21,Massachusetts,6892503,5539703,80.4,10.0,9.8,10.2,12.4,11.7,13.1
22,Michigan,9986857,7842924,78.5,14.0,13.8,14.2,19.3,18.8,19.8
23,Minnesota,5639632,4336475,76.9,9.6,9.4,9.8,11.5,10.9,12.1
24,Mississippi,2976149,2277566,76.5,19.8,19.3,20.3,28.2,27.2,29.2
25,Missouri,6137428,4766843,77.7,13.2,12.9,13.5,18.3,17.6,19.0
26,Montana,1068778,840190,78.6,12.9,12.4,13.4,16.4,15.4,17.4
27,Nebraska,1934408,1458334,75.4,11.0,10.6,11.4,12.9,12.1,13.7
28,Nevada,3080156,2387517,77.5,13.1,12.7,13.5,18.4,17.6,19.2
29,New Hampshire,1359711,1104458,81.2,7.6,7.3,7.9,10.1,9.1,11.1
30,New Jersey,8882190,6943612,78.2,9.5,9.3,9.7,13.5,12.9,14.1
31,New Mexico,2096829,1620991,77.3,18.8,18.3,19.3,25.3,24.2,26.4
32,New York,19453561,15425262,79.3,13.7,13.5,13.9,18.8,18.3,19.3
33,North Carolina,10488084,8187369,78.1,14.1,13.8,14.4,20.2,19.6,20.8
34,North Dakota,762062,581891,76.4,10.6,10.0,11.2,11.0,10.0,12.0
35,Ohio,11689100,9111081,77.9,13.8,13.6,14.0,19.2,18.6,19.8
36,Oklahoma,3956971,3004733,75.9,15.5,15.2,15.8,21.4,20.7,22.1
37,Oregon,4217737,3351175,79.5,12.5,12.2,12.8,15.7,14.8,16.6
38,Pennsylvania,12801989,10167376,79.4,12.2,12.0,12.4,16.7,16.2,17.2
39,Rhode Island,1059361,854866,80.7,12.8,12.2,13.4,18.0,16.8,19.2
40,South Carolina,5148714,4037531,78.4,15.2,14.9,15.5,22.1,21.3,22.9
41,South Dakota,884659,667558,75.5,12.9,12.4,13.4,16.1,15.1,17.1
42,Tennessee,6829174,5319123,77.9,15.2,14.9,15.5,21.8,21.1,22.5
43,Texas,28995881,21596071,74.5,14.9,14.7,15.1,21.1,20.7,10.4
44,Vermont,623989,509984,81.7,10.7,10.1,11.3,12.2,11.1,13.3
45,Virginia,8535519,6674671,78.2,10.7,10.5,10.9,13.8,13.2,14.4
46,Washington,7614893,5951832,78.2,10.3,10.1,10.5,12.6,12.0,13.2
47,West Virginia,1792147,1432580,79.9,17.4,16.9,17.9,23.2,22.1,24.3
48,Wisconsin,5822434,4555837,78.2,11.1,10.9,11.3,14.1,13.5,14.7
49,Wyoming,578759,445025,76.9,10.7,10.0,11.4,13.1,11.9,14.3

In [16]:
poverty_df = poverty_df.merge(Increase_in_Unemployment_df,how = 'inner', on = "State")

KeyError: 'State'

In [ ]:
##Liz made changes here